@import url('../line-awesome/css/line-awesome.min.css');

.btn-success{
    background-color: #fdb522;
    font-weight: bold;
    border: 2px solid #fdb522;
    border-radius: .25rem;
}

.btn-success:hover{
    background-color: #fdb522;
    border: 2px solid #fdb522;
}

.old{
    font-weight: bold;
    margin-top: 5px;
}

.notification-num{
    font-weight: bold; 
    position: absolute; 
    margin-left: 12px;
    margin-bottom: 10px;
    font-size: 7px !important;
}

.la-bell{
    color: black; 
    font-weight: bold; 
    font-size: 25px !important;
}

.reply-btn{
    margin-left: 50%;
}

.msg{
    background-color: #38c172;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.user-msg-avatar{
    border: 1px solid black;
    border-radius: 50%;
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.user-date{
    font-size: 8px;
    font-weight: bold;
    margin-left: 30%;
}

.msg-admin{
    background-color: #fdb522;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-reply{
    margin-left: 65%;
}

.btn-reply-client{
    margin-left: 65%;
    background-color: #38c172;
    border: 2px solid #38c172;
}

.msg-tab{
    margin-bottom: 15px;
}

.navbar-laravel{
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.navbar-brand{
    padding: 0;
}
.navbar-brand img{
    max-height: 100px;
    width: 150px;
}
.main-page {
    min-height: 100%;
}
.sidebar {
    height: 100%;
    background-color: #fff;
    border-right: 1px solid rgba(0,0,0,.125);
}
.sidebar .sidebar-menu li a{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
}
.sidebar .sidebar-menu li a:hover{
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
}
.sidebar .sidebar-menu li.active > a {
    z-index: 2;
    color: #fff;
    background-color: #3490dc;
    border-color: #3490dc
}
.sidebar .sidebar-menu li span.arrow {
    position: absolute;
    right: 20px;
}
.sidebar .sidebar-menu li .dropdown-menu {
    position: relative;
    border: none;
    width: 100%;
    margin: 0;
    padding: 0 0 0 20px;
}
.sidebar .sidebar-menu li .dropdown-menu li a{
    color: #636b6f;
}
.sidebar .sidebar-menu li .dropdown-menu li a:hover, .sidebar .sidebar-menu li .dropdown-menu li a.active{
    color: #3490dc;
    background-color: transparent;
}
.sidebar .sidebar-menu li.active .dropdown-menu {
    display: block !important;
}
.sidebar .sidebar-menu li.active a .arrow i:before, .sidebar .sidebar-menu li a .arrow i.open-icon:before {
    content: "\f11f" !important;
}
.sidebar .sidebar-menu li .dropdown-menu li a .badge{
    margin-top: 4px;
}
.main-page-content{
    border: 1px solid rgba(0,0,0,.125);
    background-color: #ffffff;
}

button.updating-btn i.la {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
button.updating-btn i.la:before{
    content: "\f311";
}
.invalid-feedback{
    display: block !important;
}
.field-required{
    color: #ff0000;
}

.mark{
    transition: all 1.0s;
}

.New{
    color: blue;
    font-weight: 200px;
}

.In-Progress{
    color: steelblue;
    font-weight: bolder;
}

.Completed{
    color: green;
    font-weight: bolder;
}

.Pending{
    color: #ffed4a;
    font-weight: bolder;
}

.Cancelled{
    color: red;
    font-weight: bolder;
}

td{
    background-color: white !important;
}

.btn-info-mark{
    color: white;
    background-color: steelblue !important;
    border: 2px solid white;
    border-radius: .25rem;
}

.job-status{
    font-weight: bolder;
    color: teal;
}

.marked{
    color: grey;
    opacity: 0.2;
    text-decoration: line-through;
}

.show-result{
    display: none;
}